body{
    padding: 1% 5% 1% 5%;
    background-color:rgb(131, 144, 145) ;
}
.all{
    text-align: center;
    background-image: linear-gradient(to right, rgb(74, 99, 94), rgb(65, 139, 182) );
    padding: auto;
}
img{
    border-radius: 60%;
    height: 200px;
}
li{
    text-align: right;
}
.lev{
    text-align: left;
}
fieldset{
    margin: 1cm;
}
a{
    text-decoration: none;
}